html {font-family: 'Source Code Pro', monospace, !important;}


#index-banner {
  min-height: 632px;
  max-height: 864px;
  position: relative;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.main{
  background: url(../{{ page.bannerImage}}) no-repeat center center scroll;

}
